<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Real Portfolio - index.html</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'realport2/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <h1>Hi, I'm Kevin</h1>
    <h2>Welcome to My Portfolio</h2>

    <div>
        <a href="/projects">Projects</a><br>
        <p>Let's build some happy little clouds up here. Very easy to work these to death.</p>
    </div>
    <div>
        <a href="/about">About Me</a>
        <p>There is no right or wrong - as long as it makes you happy and doesn't hurt anyone. This is your creation - and it's just as unique and special as you are. Clouds are free. They just float around the sky all day and have fun.</p>
    </div>
    <div>
        <a href="/testimonials">Testimonials</a>
        <p>In your world you have total and absolute power.</p>
    </div>
    <h6>Ipsum thanks to: http://bobrosslipsum.com/</h6>
</body>
</html>