<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <p>I really believe that if you practice enough you could paint the 'Mona Lisa' with a two-inch brush.</p>
    <p>These things happen automatically. All you have to do is just let them happen. Only think about one thing at a time. Don't get greedy.</p>
    <p>Making all those little fluffies that live in the clouds. Trees cover up a multitude of sins. This is your world, whatever makes you happy you can put in it. Go crazy.</p>
    <p>We don't really know where this goes - and I'm not sure we really care.</p>
    <p>Isn't it fantastic that you can change your mind and create all these happy things?</p>
</body>
</html>