<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Sports Leagues</h1>
		<h2>1. Teams in the Atlantic Soccer Conference</h2>
		<ol>
			{% for team in atlantic_soccer %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>2. Current players on Boston Penguins</h2>
		<ol>
			{% for player in boston_penguins %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>3. Current players in the International Collegiate Baseball Conference</h2>
		<ol>
			{% for player in intl_coll_baseball %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>4. Current players in the American Conference of Amateur Football with last name 'Lopez'</h2>
		<ol>
			{% for player in players_lopez %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>5. Football Players</h2>
		<ol>
			{% for player in football_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>6. Teams with a current player named 'Sophia'</h2>
		<ol>
			{% for team in sophia_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>7. Leagues with a current player named 'Sophia'</h2>
		<ol>
			{% for league in sophia_leagues %}
				<li>{{league.name}} - {{league.sport}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>8. everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h2>
		<ol>
			{% for player in flores_noroughriders %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>9. Teams Samuel Evans has played with</h2>
		<ol>
			{% for team in samevans_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>10. All players, past and present, for Manitoba Tiger-Cats</h2>
		<ol>
			{% for player in manitoba_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>11. Former players for the Wichita Vikings</h2>
		<ol>
			{% for player in wichita_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>12. every team that Jacob Gray played for before he joined the Oregon Colts</h2>
		<ol>
			{% for team in jacobgray_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>13. Player named 'Joshua' that's ever played in the Atlantic Federation of Amateur Baseball Players</h2>
		<ol>
			{% for player in joshua_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>14. Teams that have had 12 or more players, past and present</h2>
		<ol>
			{% for team in twelve_players %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>15: All players and count of teams played for, sorted by the number of teams they've played for</h2>
		<ol>
			{% for player in count_players_teams %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<hr>
		<h2>Leagues</h2>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}} - {{league.sport}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>Teams</h2>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h2>Players</h2>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
	</body>
</html>