<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold, Django style - index.html</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <h1>Ninja Gold - Django</h1>
    <h3>Your Gold: {{request.session.myGold}}</h3> 
    <div id="box-container">
      <div class="box">
        <h3>Farm</h3>
        <h5>(Earns 10-20 gold)</h5>
        <form action="/process_money/farm" method="post">
            {% csrf_token %}
            <!-- <input type="hidden" name="building" value="farm" /> -->
            <input type="submit" value="Find Gold!"/>
        </form>
      </div>
      <div class="box">
        <h3>Cave</h3>
        <h5>(Earns 5-10 gold)</h5>
        <form action="/process_money/cave" method="post">
            {% csrf_token %}
            <!-- <input type="hidden" name="building" value="cave" /> -->
            <input type="submit" value="Find Gold!"/>
        </form>
      </div>
      <div class="box">
        <h3>House</h3>
        <h5>(Earns 2-5 gold)</h5>
        <form action="/process_money/house" method="post">
            {% csrf_token %}
            <!-- <input type="hidden" name="building" value="house" /> -->
            <input type="submit" value="Find Gold!"/>
        </form>
      </div>
      <div class="box">
        <h3>Casino</h3>
        <h5>(Earns/Takes 0-50 gold)</h5>
        <form action="/process_money/casino" method="post">
            {% csrf_token %}
            <!-- <input type="hidden" name="building" value="casino" /> -->
            <input type="submit" value="Find Gold!"/>
        </form>
      </div>
    </div>
    <div id="activity-container">
       <textarea name="activity" rows="8" cols="80"> {{request.session.myActivity}}</textarea> 
    </div>
    <form action="/process_money/reset" method="post">
        {% csrf_token %}
        <!-- <input type="hidden" name="building" value="reset" /> -->
        <input type="submit" value="Reset!"/>
    </form>
</body>
</html>